#cabecera{
  margin-top: 12px;
  background-color: rgb(240,240,240);
  padding: 12px;
  display:flex;
    border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: smaller;
  
}



#barra_menu{
  box-shadow: 0px 10px 10px -10px gray;
}

#telefono,#correo,#local,#signup{
  margin-right: 22px
}

#parte_derecha,#parte_izquierda{
  display:flex;
  margin-left: 12px;
}
#parte_derecha{
  margin-left: 170px;
}



#barra_menu{
  background-color:  rgb(40,128,185) ;
  padding: 3px;
  padding-top: 12px;
  color:white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#barra_menu img{
  margin-top: -3px
    
}

#seccion2{
margin-right: -60px;
}


#seccion4{
  width: 10%;
  margin-left: -65px
}



#seccion6{
  margin-left: -22px;
}

#desplegable img{
  margin-right: 12px;
  filter: invert(100%);
}

#barra_menu img{
   filter: invert(100%);
}

#seccion1{
  filter: invert(100%);
}

#barra_busqueda{
  margin-bottom: 12px;
  border-radius: 12px;
  border:none;
  background-image: url("../images/search.svg")   ;
   background-position: center right 12px; 
  background-repeat: no-repeat;
  margin-left: 32px;
}

#lupa{
  margin: -2px;
}


.icono{
width: 20px;
  height: 20px;

  margin-left: 6px;
  margin-top:3px;
     background-image: url("../images/archive.svg")   ;
   background-position: center right; 
   background-repeat: no-repeat;
  filter:invert(100%)
}



